@charset "UTF-8";
/* CSS Document */
html, body {
height: 100%;
width: 100%;
}
body {
background-color: #FFFFFF;
font-size:12px;
font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
margin: 0;
padding: 0;
}
input, select {
font-size:12px;
font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
#container {
position: relative;
min-height: 100%;
height: 100%;
voice-family: "\"}\"";
voice-family: inherit;
height: auto;
width: auto;
}
html>body #container {
height: auto;
}
a:link {
color: #000000;
text-decoration: underline;
}
a:visited {
color: #000000;
text-decoration: underline;
}
a:hover {
color: green;
text-decoration: underline;
}
form {
margin: 0px;
padding: 0px;
}
pre {
margin: 0px;
padding: 0px;
}
.button, submit {
background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 66%, #F0F0F0 90%, #F0F0F0 100%) repeat scroll 0 0 transparent;
border: 1px solid #AAAAAA;
border-radius: 4px 4px 4px 4px;
padding: 4px 20px;
position: relative;
color: #706961;
}
.button:hover, submit:hover {
border: 1px solid #917a73;
color: #917a73;
}
select {
color: #706961;
}
th {
text-align: left;
font-weight: bold;
}
.them {
text-align: left;
font-weight: bold;
border: 1px solid #666666;
padding: 3px 2px 3px 4px;
}
.alert {
color: #CC0000;
font-weight: bold;
}
#apDiv1 {
position: absolute;
left: 0px;
top: 10px;
width: 100%;
height: 38px;
z-index: 5;
background-color: #FFFFFF; /* #CC9900 */
border-bottom: 1px solid gray;
}
/* ----- LEFT SIDE ----- */
#apDiv3 {
position: absolute;
left:0px;
top:60px;
width:260px;
height:auto;
/* z-index:5; */
padding-bottom: 50px;
margin-left: 13px;
border-right: 1px dotted grey;
}
/* ----- MIDDLE SLIDE ----- */
#apMiddle {
position: absolute;
left:261px;
top:0px;
height: auto;
}
/* ----- RIGHT SIDE ----- */
#apDiv4 {
position: absolute;
left:280px;
top:60px;
height: auto;
width: auto;
min-width: 600px;
z-index:4;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 50px;
}
/*
#apDiv5 {
position: absolute;
left: 550px;
top: 50px;
width: 400px;
height: auto;
z-index: 5;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
*/
#footer_drop {
position: fixed;
bottom: 0;
background-color: white;
width: 100%;
height: 30px;
font-size: 12px;
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
padding-bottom: 5px;
line-height: 1.4em;
clear: both;
z-index: 4;
}
#footer_drop #inner {
position: absolute;
width: 100%;
border-top: 1px solid gray;
clear: both;
padding: 5px 0px 5px 0px;
margin: 0;
font-weight: normal;
background-color: #fffafa;
}
#thedropbasket img {
max-width: 90px;
max-height: 60px;
width: expression(this.width > 90 ? "90px" : true);
height: expression(this.height > 60 ? "60px" : true);
}
#thedropfav img {
max-width: 90px;
max-height: 60px;
width: expression(this.width > 90 ? "90px" : true);
height: expression(this.height > 60 ? "60px" : true);
}
#footer {
position: fixed;
bottom: 0;
background-color: #FFFFFF;
width: 99%;
height: 15px;
font-size: 11px;
color: #000000;
text-align: right;
padding-bottom: 5px;
line-height: 1.4em;
clear: both;
z-index:5000;
}
#footer a {
font-size:11px;
color: #CC0000;
text-decoration: underline;
}
.navrighttop{
font-size: 12px;
color: #000000;
padding: 2px 15px 0px 0px;
margin: 0px;
float: right;
display: inline;
}
.navrighttop select {
font-size: 11px;
margin-right: 5px;
}
.navrighttop a {
color: #000000;
text-decoration: underline;
}
.navrighttop a:hover {
color: green;
text-decoration: underline;
}
.navrighttop .loginheader {
font-size: 26px;
font-weight: bold;
color: #FFFFFF;
padding-left: 10px;
float: left;
display: inline;
}
.navrighttop .loginheader a {
color: #FFFFFF;
text-decoration: none;
}
#outer {
width: 850px;
background-color: #FFFFFF;
margin-top: 50px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
padding-top: 60px;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
#apDiv2 {
position:absolute;
left:0px;
top:36px;
width:100%;
height:35px;
z-index:2;
background-color: #666666;
}
/* ------------ MAIN NAVIGATION ------------ */
div#hnav {
width: auto;
height: auto;
font-size: 13px;
font-weight: bold;
color: #FFFFFF;
margin: 8px 15px 0px 13px;
}
div#hnav ul{
margin:10px 0px 0px 10px;
padding:0px;
list-style-type: none;
}
div#hnav li{
padding-right: 15px;
float: left;
}
div#hnav a{
color: #FFFFFF;
text-decoration: none;
}
div#hnav a:hover{
color: green;
text-decoration: none;
}
/* ------------ LEFT NAVIGATION ------------ */
div#lnav {
width: auto;
font-size: 12px;
color: #000000;
}
div#lnav ul{
margin:0px 0px 0px 10px;
padding:0px;
list-style-type: square;
}
div#lnav li{
padding-bottom: 5px;
}
div#lnav a{
color: #000000;
text-decoration: none;
}
div#lnav a:hover{
color: green;
text-decoration: none;
}
.clear {
clear: both;
padding-bottom: 1px; /* for Gecko-based browsers */
margin-bottom: -1px; /* for Gecko-based browsers */
}
.tt {
background-color: red;
padding:2px;
border: 1px solid black;
font:100% sans-serif;
width:auto;
}
.grid {
margin: 2px 0px 5px 0px;
border-collapse: collapse;
}
.grid th {
/* border: 1px solid #ccc; */
padding: 2px 4px 2px 4px;
/* background: #E2E2E2; */
background: white;
font-weight: bold;
text-align:left;
}
.grid td {
/* border: 1px solid #BEBEBE; */
/* border-bottom: 1px solid #BEBEBE; */
padding: 3px 4px 3px 4px;
}
.gridlist {
margin: 2px 0px 5px 0px;
border-collapse: collapse;
}
.gridlist th {
/* border: 1px solid #ccc; */
padding: 2px 4px 2px 4px;
/* background: #E2E2E2; */
background: white;
font-weight: bold;
text-align:left;
}
.gridlist td {
border-bottom: 1px solid #BEBEBE;
padding: 3px 4px 3px 4px;
}
.gridno td {
border: 0px;
padding: 0px;
padding-right: 2px;
padding-left: 2px;
}
.gridno .td2 {
padding: 0;
border: none;
}
.gridno .thumbview_border_icon {
border-bottom-width: 1px;
border-style: dotted;
border-top-width: 1px;
}
.grid td ul{
/* margin:10px; */
padding:0px 0px 0px 10px;
list-style-type: square;
}
.grid td li{
padding: 5px 0px 5px 0px;
}
.dateformat {
font-size: 10px;
font-style: italic;
color: #CCCCCC;
}
tr.lightrow td {
background-color: #FFFFFF;
}
tr.darkrow td {
background-color: #E2E2E2;
}
.table_border {
border: thin solid Silver;
background-color: White;
padding: 10px;
}
.noborder {
border: 0px;
}
.list {
border-bottom: 1px solid #BEBEBE;
}
/* --- These are for CF div specific overrides --- */
#themenu a {
text-decoration: none;
}
/* --- Panel Tables --- */
.tablepanel{
border: 1px solid #BEBEBE;
padding: 0px;
margin: 0px;
}
.tablepanel th{
background: #E2E2E2;
font-weight: bold;
padding: 5px;
}
.tablepanel td{
padding: 10px;
}
.tablepanel .td2{
padding: 2px 10px 2px 10px;
}
.tablepanel .td2b{
padding: 2px 10px 2px 10px;
font-weight: bold;
}
/* --- Explorer Panel Tables --- */
.tablepanelexp {
border: 1px solid #BEBEBE;
padding: 0px;
margin: 0px;
}
.tablepanelexp th{
background: #E2E2E2;
font-weight: bold;
padding: 3px;
}
.tablepanelexp td{
padding: 5px;
}
.tablepanelexp .tdtree{
padding: 0px;
}
/* --- UpDrive --- */
#gears_store, #gears_install, #gears_done {
visibility: hidden;
position: absolute;
width: auto;
margin-right: 20px;
font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
font-size:12px;
}
#gears_store p, #gears_install p, #gears_done p {
padding: 10px;
}
#gears_store h1, #gears_install h1, #gears_done h1 {
background-color: #15428B;
color: white;
padding: 5px 10px;
font-size: 18px;
}
/* --- Drop Down Selection --- */
.ddselection_header {
width:150px;
position:absolute;
display:none;
top:28px;
background:#ffffff;
padding-left:10px;
padding-right:10px;
border:1px solid #BBBBBB;
font-weight: normal;
z-index: 9999;
}
.ddselection_header a {
text-decoration:none;
}
.ddselection_header a:hover {
color: green;
}
.ddselection_header p {
padding: 0px;
margin: 5px 0px 5px 0px;
}
.ddselection_header hr {
width:100%;
color:#BEBEBE;
height:1px;
}
.ddicon {
cursor:pointer;
}
.theline {
width: 100%;
color: #BEBEBE;
height: 1px;
}
hr {
width: 100%;
color: #BEBEBE;
height: 1px;
}
/* --- Draggables --- */
.basketitem {
border-bottom: 1px solid #aaaaaa;
background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
color: #222222;
}
/* Add items to basket */
.assetbaskethover {
border: 1px solid #aaaaaa;
background: green;
font-weight: normal;
color: #212121;
}
/* Remove items from basket */
.assetbasketremovehover {
border: 1px solid #aaaaaa;
background: red;
font-weight: normal;
color: #212121;
}
.dropdiv {
border: 1px solid #aaaaaa;
background: #cccccc;
color: #222222;
font-weight: bold;
}
/* Limit image size of thumbnail view */
.thumbview img, .ui-draggable-dragging img {
max-width: 110px;
max-height: 110px;
width: expression(this.width > 110 ? "110px" : true);
height: expression(this.height > 110 ? "110px" : true);
}
/* --- Footer Tabs --- */
#info { float: left; width: 250px; padding-right: 10px; }
#message { float: right; width: 320px; padding-right: 10px; }
#feedbsubmit { float: right; }
#div_feedback input { margin-bottom: 5px; padding: 2px 2px; color: #4A4A4A; float: right; }
#div_feedback label { margin-bottom: 15px; float: left; clear: both; position: relative; top: 5px; }
#div_feedback textarea { padding: 7px 7px; height: 80px; margin-bottom: 15px; color: #4A4A4A; line-height: 20px; float: right; }
#div_feedback input { width: 150px; }
#div_feedback textarea { width: 250px; }
#div_feedback input#submit { float: right; clear: both; cursor: pointer; width: 100px; padding: 3px 3px; background-color: #B5D2DF; border: 3px solid #b2b2b2; }
#div_feedback input, #div_feedback textarea { outline: none; background-color: #f1f1f1; border: 3px solid #b2b2b2; padding: 2px; }
#div_feedback input:focus, #div_feedback textarea:focus { border: 3px solid #972324; }
#div_feedback input, #div_feedback textarea { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.assetbox {
margin: 5px;
padding: 5px;
background: #FFFFFF;
border: #D8D5D2 1px solid;
float: left;
min-height: 230px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
word-wrap: break-word;
width: 120px;
}
.assetbox img {
max-width: 110px;
max-height: 110px;
width: expression(this.width > 110 ? "110px" : true);
height: expression(this.height > 110 ? "110px" : true);
}
.assetbox .theimg {
height: 140px;
text-align:center;
}
.assetbox .thesearch {
min-height: 260px;
}
.debt {
font-size: 14px;
height: auto;
width: 500px;
border: medium solid red;
margin-left: auto;
margin-right: auto;
background: #FFFFFF;
padding:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
input, textarea {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-khtml-border-radius: 4px;
box-shadow: inset 0px 1px 1px #eee;
-moz-box-shadow: inset 0px 1px 1px #eee;
-webkit-box-shadow: inset 0px 1px 1px #eee;
border: 1px solid #ddd;
padding: 5px;
}
input:focus, textarea:focus {
border: 1px solid #357EC7;
}
#bodybg {
position: absolute;
left:0;
top: 0px;
width: 100%;
height: 100%;
background-color:#000000;
opacity: 0.75;
filter: alpha(opacity=75);
z-index:99999;
}
#bodyoverlay
{
border-radius: 10px;
box-shadow:
0px 1px 3px rgba(000,000,000,0.5),
inset 0px 0px 3px rgba(255,255,255,1);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-moz-box-shadow:
0px 1px 3px rgba(000,000,000,0.5),
inset 0px 0px 3px rgba(255,255,255,1);
-webkit-box-shadow:
0px 1px 3px rgba(000,000,000,0.5),
inset 0px 0px 3px rgba(255,255,255,1);
width: 160px;
height: 35px;
text-align: center;
line-height: 50px;
background-color: #82cdff;
color: white;
position: absolute;
left: 50%;
top: 50%;
margin-left: -50px;
margin-top: -50px;
z-index: 9999;
}
/*
awesome buttons are based on a blog post by ZERB
Read there blog post for more information:
"Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
this buttons are even more awesome, as the need only one color for all three states,
and have an super awesome onclick state
*/
/* set an awesome color for the buttons */
button.awesome,
input.awesome,
a.button.awesome {
background-color: #111;
}
/* Touch the rest at your onw risk. */
button.awesome,
input.awesome,
a.button.awesome {
font: inherit;
background-repeat: repeat-x;
color: #fff;
text-decoration: none;
position: relative;
cursor: pointer;
border: 0;
font-style: normal;
font-weight: bold;
line-height: 1;
padding: 5px 10px 6px;
font-size: 13px;
/* IE only stuff */
border-bottom: 1px solid transparent\9;
/* not all browser support these, but who cares? */
text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
/* one image for all states
see http://www.alistapart.com/articles/sprites */
background-image: url(images/awesome-overlay-sprite.png);
background-position: 0 0;
/* cross browser inline block hack
see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
*display: inline !important;
position: relative;
/* help IE to calm down a bit */
zoom: 1;
/*disable text selection (Firefox only)*/
-moz-user-select: none;
}
/* hide selection background color */
.awesome::selection {
background: transparent;
}
button.awesome:hover,
input.awesome:hover,
a.button.awesome:hover {
background-position: 0 -50px;
color: #fff;
}
button.awesome:active,
input.awesome:active,
a.button.awesome:active	{
background-position: 0 100%;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
/* unfortunately, Safari seems not to support inset yet */
-webkit-box-shadow: none;
/* IE only stuff */
border-bottom: 0\9;
border-top: 1px solid #666\9;
}
button.awesome.small, input.awesome.small, a.button.awesome.small { padding: 4px 7px 5px; font-size: 10px; }
button.awesome.small:active, input.awesome.small:active, a.button.awesome.small:active	{ padding: 5px 7px 4px; }
button.awesome.medium, input.awesome.medium, a.button.awesome.medium { /* default */ }
button.awesome.medium:active, input.awesome.medium:active, a.button.awesome.medium:active	{ padding: 6px 10px 5px; }
button.awesome.large, input.awesome.large, a.button.awesome.large { padding: 8px 14px 9px; font-size: 14px; }
button.awesome.large:active, input.awesome.large:active, a.button.awesome.large:active	{ padding: 9px 14px 8px; }
button.awesome.super, input.awesome.super, a.button.awesome.super { padding: 12px 18px 11px; font-size: 18px; }
button.awesome.super:active, input.awesome.super:active, a.button.awesome.super:active	{ padding: 13px 19px 12px; }
.awesome.blue {
background-color: #0A50FF !important;
}
.awesome.red {
background-color: #e33100 !important;
}
.awesome.green {
background-color: #579E31 !important;
}
.awesome.grey {
background-color: grey !important;
}
.awesome.greylight {
background-color: #BEBEBE !important;
cursor: pointer;
/*color: black;*/
}
.awesome.greylight:hover {
/*color: black;*/
}
.awesome.greylight:active {
cursor: pointer;
}
button.css3button {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: normal;
color: #ffffff;
padding: 10px 20px;
background: -moz-linear-gradient(
top,
#23db39 0%,
#579E31);
background: -webkit-gradient(
linear, left top, left bottom,
from(#23db39),
to(#579E31));
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 2px solid #29cc21;
-moz-box-shadow:
0px 1px 3px rgba(000,000,000,0.5),
inset 0px 0px 3px rgba(255,255,255,1);
-webkit-box-shadow:
0px 1px 3px rgba(000,000,000,0.5),
inset 0px 0px 3px rgba(255,255,255,1);
text-shadow:
0px -1px 0px rgba(000,000,000,0),
0px 1px 0px rgba(255,255,255,1);
cursor: pointer;
cursor: hand;
}
.actiondropdown {
display: none;
margin-top: 10px;
padding-top: 10px;
padding-left: 5px;
border: 1px solid #D3D3D3;
background: #E6E6E6;
height: 25px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.collapsable a {
text-decoration: none;
}
.collapsable .headers {
/*margin-top: 10px;*/
padding-top: 5px;
padding-left: 5px;
border: 1px solid #D3D3D3;
background: #E6E6E6;
height: 20px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
cursor: hand;
font-weight: bold;
text-decoration: none;
}
#detailinfo img {
max-width: 400px;
max-height: 400px;
width: expression(this.width > 100 ? "400px" : true);
height: expression(this.height > 400 ? "400px" : true);
}
.box-dotted {
border-style: solid;
border-color: grey;
border-width: 2px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.panelsnew {
/*
border-style: solid;
border-color: blue;
border-width: 2px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
*/
padding: 10px;
width: 400px;
}
.panelsnew h1 {
font-size: 24px;
border-bottom: 1px solid grey;
}
.panelsnew h2 {
font-size: 16px;
font-weight: bold;
font-size: 14px;
padding: 10px 0px 0px 0px;
margin: 0px;
}
.panelsnew a {
font-size: 14px;
font-weight: bold;
}
.announcements {
font-size: 14px;
font-weight: normal;
}
#selectme .ui-selecting { background: #E6E6E6; }
#selectme .ui-selected { background: #E6E6E6; }
label p {
font-style: italic;
z-index: 5000;
}
label.error p {
color: red;
font-style: italic;
z-index: 5000;
}
label.error {
display:none;
width: auto;
height:11px;
background:##ee0101;
color:##fff;
font-family: 'Helvetica Neue', Helvetica, Arial, "Nimbus Sans L", sans-serif;
font-size:11px;
border:2px solid ##ddd;
box-shadow: 0px 0px 6px ##000;
-moz-box-shadow: 0px 0px 6px ##000;
-webkit-box-shadow: 0px 0px 6px ##000;
padding:4px 10px 4px 10px;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
z-index:100000;
}
/* Login */
.loginheader {
font-size: 26px;
font-weight: bold;
color: #000000;
padding-left: 10px;
display: inline;
}
#loginform {
font-size: 14px;
color: #000000;
height: auto;
width: 390px;
border: medium solid #999999;
margin-left: auto;
margin-right: auto;
background: #FFFFFF;
padding:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#loginform input {
padding: 10px;
}
#loginformfooter {
font-size: 11px;
color: #000000;
height: auto;
width: 370px;
margin-left: auto;
margin-right: auto;
padding-top:10px;
line-height: 1.7em;
}
#outer #loginform {
font-size: 14px;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
}
.loginform_header {
font-size: 16px;
font-weight: bold;
margin-left: 5px;
}
/* Firstime */
#outerfirsttime {
width: 850px;
background-color: #FFFFFF;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
padding-top: 15px;
padding-bottom: 15px;
}
#firsttime {
font-size: 12px;
color: #000000;
height: 100%;
width: 600px;
border: medium solid #999999;
margin-left: auto;
margin-right: auto;
padding: 10px;
}
.error {
color: #CC0000;
font-weight: bold;
}
#sf_select_div {
	display: none;
	height: 35px;
	width: 610px;
	font-weight:bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D3D3D3;
	background: #E6E6E6;
}
#smartfolders h1 {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid grey;
}
 .ui-tooltip {
	padding: 2px;
	position: absolute;
	z-index: 9999;
	max-width: 450px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
.ui-dialog .ui-dialog-titlebar-close {
	top: 10%;
}
