<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configid name="version">
		<thetext>1.5.2</thetext>
	</configid>
	<configid name="prerelease">
		<thetext>false</thetext>
	</configid>
	<configid name="global_im">
		<thetext>/usr/bin</thetext>
	</configid>
	<configid name="global_ex">
		<thetext>/usr/bin</thetext>
	</configid>
	<configid name="global_ff">
		<thetext>/usr/bin</thetext>
	</configid>
</configuration>
