label p {
		font-style: italic;
		z-index: 5000;
}
label.error p {
	color: red;
	font-style: italic;
	z-index: 5000;
}
label.error {
	display:none;
	width: auto;
	height:11px;
	background:##ee0101;
	color:##fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size:11px;
	border:2px solid ##ddd;
	box-shadow: 0px 0px 6px ##000;
	-moz-box-shadow: 0px 0px 6px ##000;
	-webkit-box-shadow: 0px 0px 6px ##000;
	padding:4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	z-index:100000;
}