@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
}
body {
    background-color: #FFFFFF;
    font-size:12px;
    font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
	margin: 0;
	background-image: url('../../images/pimsbg.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
}
input, select {
	font-size:12px;
	font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
#container {
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
}
html>body #container {
	height: auto;
}
a {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: green;
	text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
select {
	color: #706961; 
}
.button {	
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 66%, #F0F0F0 90%, #F0F0F0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 20px;
    position: relative;
	color: #706961;
}
.button:hover {
	border: 1px solid #917a73;
	color: #917a73;
}
.alert {
	color: #CC0000;
	font-weight: bold;
}
.error {
	color: #CC0000;
	font-weight: bold;
}

#apDiv1 {
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height:36px;
	z-index:1;
	background-color:#CC9900;
}
.loginheader {
	font-size: 26px;
	font-weight: bold;
	color: #000000;
	padding-left: 10px;
	display: inline;
}
#outer {
	width: 850px;
	/*background-color: #FFFFFF;*/
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	background-color: transparent;
}
#loginform {
	font-size: 14px;
	color: #000000;
	height: auto;
	width: 370px;
	border: medium solid #999999;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	padding:10px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
}
#loginformfooter {
	font-size: 11px;
	color: #000000;
	height: auto;
	width: 370px;
	margin-left: auto;
	margin-right: auto;
	padding-top:10px;
	line-height: 1.7em;
}
#outerfirsttime {
	width: 850px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#firsttime {
	font-size: 12px;
	color: #000000;
	height: 100%;
	width: 600px;
	border: medium solid #999999;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#outer #loginform {
	font-size: 14px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.loginform_header {
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
}
#footer {
	position: absolute;
	bottom: 0;
	background-color: #929292; /* #000000 */
	width: 100%;
	height: 25px;
	font-size: 11px;
	color: #000000; /* #999999 */
	text-align: center;
	padding-top: 15px;
	padding-right: 0pt;
	padding-bottom: 5px;
	padding-left: 0pt;
	line-height: 1.4em;
	margin-top: 25px;
	clear: both;
}
#footer a {
	font-size:11px;
	color: #CC0000;
	text-decoration: underline;
}
.grid {
	margin: 2px 0px 5px 0px;
	border-collapse: collapse;
	font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.grid th {
	border: 1px solid #ccc;
	padding: 2px 4px 2px 4px;
	background: #E2E2E2;
	font-weight: bold;
	text-align:left;
}
.grid td  {
	border: 1px solid #BEBEBE;
	padding: 3px 4px 3px 4px;
}
.gridno td  {
	border: 0px;
	padding: 0px;
	padding-right: 2px;
	padding-left: 2px;
}
.gridno .td2 {
	padding: 0;
	border: none;
}
input, textarea { 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: inset 0px 1px 1px #eee;
	-moz-box-shadow: inset 0px 1px 1px #eee;
	-webkit-box-shadow: inset 0px 1px 1px #eee;
	border: 1px solid #ddd;
	padding: 10px;	
}
input:focus, textarea:focus { 
	border: 1px solid #357EC7; 
}
a.first_time_hoover {
	display: block;
	padding: 10px 10px 40px 10px;
	background-color: #fff;
	color: black;
	text-decoration: none;
}
a.first_time_hoover:hover{
	background-color: silver;
	color: black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}