@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
}
body {
    background-color: #FFFFFF;
    font-size:12px;
    font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
	margin: 0;
	padding: 0;
}
input, select {
	font-size:12px;
	font-family: 'Helvetica Neue',Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
#container {
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
	width: auto;
}
html>body #container {
	height: auto;
}
a:link {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: green;
	text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
pre {
	margin: 0px;
	padding: 0px;
}
.button, submit {	
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 66%, #F0F0F0 90%, #F0F0F0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 20px;
    position: relative;
	color: #706961;
}
.button:hover, submit:hover {
	border: 1px solid #917a73;
	color: #917a73;
}
select {
	color: #706961; 
}
th {
	text-align: left;
	font-weight: bold;
}
.them {
	text-align: left;
	font-weight: bold;
	border: 1px solid #666666;
	padding: 3px 2px 3px 4px;
}
.alert {
	color: #CC0000;
	font-weight: bold;
}
#apDiv1 {
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height:38px;
	z-index:5;
	background-color:#FFFFFF; /* #CC9900 */
	border-bottom: 1px solid #CC9900;
}
/* ----- LEFT SIDE ----- */
#apDiv3 {
	position: absolute;
	left:0px;
	top:50px;
	width:260px;
	height:auto;
	/* z-index:5; */
	padding-bottom: 50px;
	margin-left: 13px;
}
/* ----- MIDDLE SLIDE ----- */
#apMiddle {
	position: absolute;
	left:261px;
	top:0px;
	height: auto;
}
/* ----- RIGHT SIDE ----- */
#apDiv4 {
	position: absolute;
	left:280px;
	top:50px;
	height: auto;
	width: auto;
	min-width: 600px;
	z-index:4;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}
/*
#apDiv5 {
	position: absolute;
	left: 550px;
	top: 50px;
	width: 400px;
	height: auto;
	z-index: 5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
*/
#footer_drop {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	text-align: left;
	padding-bottom: 5px;
	line-height: 1.4em;
	clear: both;
	z-index: 4;
}
#footer_drop #inner {
	position: absolute;
	width: 100%;
	border-top: 1px solid gray;
	clear: both;
	padding: 5px 0px 5px 0px;
	margin: 0;
	font-weight: normal;
	background-color: #fffafa;
}
#thedropbasket img {
	max-width: 90px;
  	max-height: 60px;
  	width: expression(this.width > 90 ? "90px" : true);
  	height: expression(this.height > 60 ? "60px" : true);
}
#thedropfav img {
	max-width: 90px;
  	max-height: 60px;
  	width: expression(this.width > 90 ? "90px" : true);
  	height: expression(this.height > 60 ? "60px" : true);
}
#footer {
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
	width: 99%;
	height: 15px;
	font-size: 11px;
	color: #000000;
	text-align: right;
	padding-bottom: 5px;
	line-height: 1.4em;
	clear: both;
	z-index:5000;
}
#footer a {
	font-size:11px;
	color: green;
	text-decoration: underline;
}
.loginheader {
	font-size: 26px;
	font-weight: bold;
	color: #000000;
	padding-left: 10px;
	float: left;
	display: inline;
}
.loginheader a {
	color: #000000;
	text-decoration: none;
}
#navrighttop{
	font-size: 12px;
	color: #000000;
	padding: 2px 15px 0px 0px;
	margin: 0px;
	float: right;
	display: inline;
	padding-top: 10px;
}
.navrighttop select {
	font-size: 11px;
	margin-right: 5px;
}
.navrighttop a {
	color: #000000;
	text-decoration: underline;
}
.navrighttop a:hover {
	color: green;
	text-decoration: underline;
}
.navrighttop .loginheader {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	float: left;
	display: inline;
}
.navrighttop .loginheader a {
	color: #FFFFFF;
	text-decoration: none;
}
#outer {
	width: 850px;
	background-color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#apDiv2 {
	position:absolute;
	left:0px;
	top:36px;
	width:100%;
	height:35px;
	z-index:2;
	background-color: #666666;
}

/* ------------ MAIN NAVIGATION ------------ */
div#hnav {
	width: auto;
	height: auto;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 8px 15px 0px 13px;
}
div#hnav ul{
	margin:10px 0px 0px 10px;
	padding:0px;
	list-style-type: none;
}
div#hnav li{
	padding-right: 15px;
	float: left;
}
div#hnav a{
	color: #FFFFFF;
	text-decoration: none;
}
div#hnav a:hover{	
	color: green;
	text-decoration: none;
}

/* ------------ LEFT NAVIGATION ------------ */
div#lnav {
	width: auto;
	font-size: 12px;
	color: #000000;
}
div#lnav ul{
	margin:0px 0px 0px 10px;
	padding:0px;
	list-style-type: square;
}
div#lnav li{
	padding-bottom: 5px;
}
div#lnav a{
	color: #000000;
	text-decoration: none;
}
div#lnav a:hover{	
	color: green;
	text-decoration: none;
}
.clear {
	clear: both;
	padding-bottom: 1px; /* for Gecko-based browsers */ 
	margin-bottom: -1px; /* for Gecko-based browsers */
}
.tt {
	background-color: red; 
	padding:2px;
	border: 1px solid black; 
	font:100% sans-serif;
	width:auto;
}
.grid {
	margin: 2px 0px 5px 0px;
	border-collapse: collapse;
}
.grid th {
	/* border: 1px solid #ccc; */
	padding: 2px 4px 2px 4px;
	/* background: #E2E2E2; */
	background: white;
	font-weight: bold;
	text-align:left;
}
.grid td  {
	/* border: 1px solid #BEBEBE; */
/* 	border-bottom: 1px solid #BEBEBE; */
	padding: 3px 4px 3px 4px;
}
.gridlist {
	margin: 2px 0px 5px 0px;
	border-collapse: collapse;
}
.gridlist th {
	/* border: 1px solid #ccc; */
	padding: 2px 4px 2px 4px;
	/* background: #E2E2E2; */
	background: white;
	font-weight: bold;
	text-align:left;
}
.gridlist td  {
	border-bottom: 1px solid #BEBEBE;
	padding: 3px 4px 3px 4px;
}

.gridno td  {
	border: 0px;
	padding: 0px;
	padding-right: 2px;
	padding-left: 2px;
}
.gridno .td2 {
	padding: 0;
	border: none;
}
.gridno .thumbview_border_icon {
	border-bottom-width: 1px;
	border-style: dotted;
	border-top-width: 1px;
}
.grid td ul{
	/* margin:10px; */
	padding:0px 0px 0px 10px;
	list-style-type: square;
}
.grid td li{
	padding: 5px 0px 5px 0px;
}
.dateformat {
	font-size: 10px;
	font-style: italic;
	color: #CCCCCC;
}
tr.lightrow td {
	background-color: #FFFFFF;
}
tr.darkrow td {
	background-color: #E2E2E2;
}
.table_border {
	border: thin solid Silver;
	background-color: White;
	padding: 10px;
}
.noborder {
	border: 0px;
}
.list {
	border-bottom: 1px solid #BEBEBE;
}

/* --- These are for CF div specific overrides --- */
#themenu a {
	text-decoration: none;
}

/* --- Panel Tables --- */
.tablepanel{
	border: 1px solid #BEBEBE;
	padding: 0px;
	margin: 0px;
}
.tablepanel th{
	background: #E2E2E2;
	font-weight: bold;
	padding: 5px;
}
.tablepanel td{
	padding: 10px;
}
.tablepanel .td2{
	padding: 2px 10px 2px 10px;
}
.tablepanel .td2b{
	padding: 2px 10px 2px 10px;
	font-weight: bold;
}

/* --- Explorer Panel Tables --- */
.tablepanelexp {
	border: 1px solid #BEBEBE;
	padding: 0px;
	margin: 0px;
}
.tablepanelexp th{
	background: #E2E2E2;
	font-weight: bold;
	padding: 3px;
}
.tablepanelexp td{
	padding: 5px;
}
.tablepanelexp .tdtree{
	padding: 0px;
}

/* ------------ DAM FILE SELECT ------------ */
#damDivLeft {
color:Red;
	position:absolute;
	left:0px;
	top:0px;
	width:250px;
	height:auto;
	z-index:3;
}
#damDivTop {
	position:absolute;
	left:250px;
	top:0px;
	width:100%;
	height:40px;
	z-index:3;
	margin-left: 13px;
}
#damDivBottom {
	position:absolute;
	left:250px;
	top:40px;
	width:100%;
	height:auto;
	z-index:3;
	margin-left: 13px;
}
input, textarea { 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: inset 0px 1px 1px #eee;
	-moz-box-shadow: inset 0px 1px 1px #eee;
	-webkit-box-shadow: inset 0px 1px 1px #eee;
	border: 1px solid #ddd;
	padding: 5px;	
}
input:focus, textarea:focus { 
	border: 1px solid #357EC7; 
}

#bodyoverlay 
{
	border-radius: 10px;
	box-shadow: 
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	width: 160px;
	height: 35px;
	text-align: center;
	line-height: 50px;
	background-color: #82cdff;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px; 
	margin-top: -50px;
	z-index: 9999;
}