
/* ---------- Pretty new css stuff ---------- */

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 100%; }
.fillitup { border: none; }

#header { margin: 0 0 20px 0;
	background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222)); 
  background-image: -webkit-linear-gradient(top, #333333, #222222); 
  background-image:    -moz-linear-gradient(top, #333333, #222222); 
  background-image:     -ms-linear-gradient(top, #333333, #222222); 
  background-image:      -o-linear-gradient(top, #333333, #222222); 
  background-image:         linear-gradient(to bottom, #333333, #222222); 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }
#header a { float: left; display: inline; padding: 5px 15px 0; }
#header h2 { float: left; display: inline; padding: 11px 0 0; font-size: 17px; color: #f9f9f9;  }

#header .nav { float: right; display: inline; list-style-type: non; }
#header .nav li { float: left; display: inline; border-left: 1px solid #000; }
#header .nav li a { display: block; padding: 13px 15px; font-size: 14px; color: #bfbfbf; text-decoration: none; border-left: 1px solid #666; }
#header .nav li a:hover { color: #fff; background: rgba(255,255,255,0.05); }

.statsrow { float: left; display: inline; width: 145px; margin: 0 15px; margin-bottom: 2px }
.statsrow div { background: rgba(0,0,0,0.85); position: relative; padding: 7px 15px; color: #404040; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 border-bottom: 1px solid #161616;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25); }
.statsrow div:first-child { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; 
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.statsrow div:last-child { -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; 
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.statsrow div:hover { background: rgba(0,0,0,0.80); }
.statsrow .success { color: #57A957; }
.statsrow .info { color: #339BB9; }
.statsrow .warning { color: #f3e710; }
.statsrow .error { color: #f7941d; }
.statsrow em { display: block; text-align: center; font-size: 14px; color: #bfbfbf; cursor: default; }
.statsrow span { display: block; padding: 4px 0 0; text-align: center; font-size: 19px; line-height: 24px; cursor: default; }

.contentrow { float: left; display: inline; width: 765px; }

.inspectbox { padding: 10px 5px; }
.inspectbox .close { float: right; }

.screenshot { position: relative; }
.screenshot img { max-width: 100%; border: 1px solid #ddd; 
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.screenshot .screenclose { position: absolute; top: 5px; right: 5px; color: #999; font-size: 20px; font-weight: bold; line-height: 13.5px; }
.screenshot .screenclose:hover { color: #666; text-decoration: none; }

.fileList tr:nth-of-type(even) { background: #f2f2f2; }
.fileList th, .fileList td { font-size: 13px; font-family: Courier New, arial, sans-serif; }
.fileList .filename { background: #333; padding: 0 0 0 8px; font: 16px/30px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #f3f3f3; }
.fileList pre .cf { color: maroon; }
.fileList pre .n { color: blue;	}
.fileList pre .h { color: navy;	}
.fileList pre .q { color: blue;	}
.fileList pre .f { color: #FF8000; }
.fileList pre .t { color: teal; }
.fileList pre .c { color: gray; }

#fileexplorer li a { font-size: 0.9em; }

/* ---------- icons ---------- */

a.inspect-show { background: url('cfmlbug-static.cfres?f=/img/insp_sbook.gif') left center no-repeat; display: block; height: 16px; width: 16px; text-indent: -9999px; }
a.kill { background: url('cfmlbug-static.cfres?f=/img/terminatedlaunch_obj.gif') left center no-repeat; display: block; height: 16px; width: 16px; text-indent: -9999px; }
a.stopping { background: url('cfmlbug-static.cfres?f=/img/stop1normalred.png') left center no-repeat; display: block; height: 16px; width: 16px; text-indent: -9999px; }
a.show-window { background: url('cfmlbug-static.cfres?f=/img/find_obj.gif') left center no-repeat; display: block; height: 16px; width: 16px; text-indent: -9999px; }
a.clear { background: url('cfmlbug-static.cfres?f=/img/clear.gif') left center no-repeat; display: block; height: 16px; width: 16px; text-indent: -9999px; }
a.refresh { background: url('cfmlbug-static.cfres?f=/img/refresh.gif') left center no-repeat; display: block; height: 16px; width: 16px; margin: 6px 5px 0; text-indent: -9999px; }
a.reload { background: url('cfmlbug-static.cfres?f=/img/refresh_tab.gif') left center no-repeat; display: block; height: 16px; width: 16px; margin: 6px 5px 0; }
a.clearall { background: url('cfmlbug-static.cfres?f=/img/clear.gif') left center no-repeat; float: right;  height: 16px; width: 16px; margin: 5px 5px 0 0; text-indent: -9999px; }

/* ---------- tables ---------- */

table.queries { background: #fafafa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; font-family: Verdana, arial; cursor: default; }
table.queries tr:nth-child(4n-1) { background: #f2f2f2; }
table.queries tr:nth-child(even) { background: #e6e6e6; }
table.queries tr:hover { background: #ebebeb; }
table.queries th, table.queries td { padding: 5px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-size: 12px; line-height: 15px; }
table.queries td .file { color: #444; font-size: 80% }
table.queries td .j-template-file {cursor:pointer}
table.queries tr.j-template-src td {background-color:white}

.session td { padding: 5px; }
.session td.sessionaction { text-align: right; }
.session td.sessionaction button { width: 20px; font-size: 8pt; margin-left: 5px; color: blue; text-indent: -9999px; }
button.inspect-show { background: url('cfmlbug-static.cfres?f=/img/insp_sbook.gif') left center no-repeat; height: 16px; width: 16px; }
button.breakpoint { background: url('cfmlbug-static.cfres?f=/img/breakpoint_view.gif') left center no-repeat; height: 16px; width: 16px; }
button.step-over { background: url('cfmlbug-static.cfres?f=/img/stepover_co.gif') left center no-repeat; height: 16px; width: 16px; }
button.step { background: url('cfmlbug-static.cfres?f=/img/step_current.gif') left center no-repeat; height: 16px; width: 16px; }
button.request-end { background: url('cfmlbug-static.cfres?f=/img/suspend_co.gif') left center no-repeat; height: 16px; width: 16px; }

/* ---------- clearfix ---------- */

.group:before, .group:after {content:"";display:table} /* For modern browsers */
.group:after {clear:both}
.group {zoom:1} /* For IE 6/7 (trigger hasLayout) */

/* ---------- media queries ---------- */
 
@media screen and (min-width: 1180px) {
	.contentrow { width: 940px; }
}

@media screen and (min-width: 1580px) {
	.contentrow { width: 1340px; }
}

@media screen and (min-width: 1880px) {
	.contentrow { width: 1640px; }
}


/* ---------- bootstrap / eric meyer reset stuff ---------- */

html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
